<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Login - FinAPP</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/loginCadastro.css') }}">
</head>
<body>
  <div class="logo">
  <a href="{{ url_for('index') }}"><header><img src="{{ url_for('static', filename='css/logo.png') }}" alt="Logo"></div>
  <div class="container">
    <h2>Login</h2>
    <form action="{{ url_for('login') }}" method="POST">
      <label for="email">Email</label>
      <input type="email" id="email" name="email" placeholder="Digite seu email" required />

      <label for="senha">Senha</label>
      <input type="password" id="senha" name="senha" placeholder="Digite sua senha" required />

      <button type="submit">Entrar</button>
    </form>

    <a href="{{ url_for('recuperar_senha') }}">Esqueceu a senha?</a>
    <div class="login-link">
      Não tem uma conta? <a href="{{ url_for('cadastro') }}">Cadastre-se</a>
    </div>
  </div>
</body>
</html>